a {
  text-decoration: none;
  color: inherit;
}
.order {
  margin: 0px 5px;
  align-items: center;
  /* justify-content: center; */
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(71, 71, 71);
  font-size: 20px;
  /* color: red; */
}

.delete {
  color: rgb(160, 160, 160);
  font-size: 25px;
  padding: 3px;
  background-color: rgba(172, 172, 172, 0.185);
  border-radius: 5px;
  border-color: rgba(224, 224, 224, 0.061);
}
.delete:focus {
  border-color: rgba(184, 184, 184, 0.061);
}

.quantityBox {
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  padding: 3px 5px;
}

.quantity {
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(232, 235, 235);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 15px;
  height: 35px;
  width: 100%;
  align-items: center;
  /* text-align: center; */
  /* padding: 7px 15px; */
}
.quantity:focus {
  box-shadow: inset 0 0 2px 1px rgb(184, 180, 180);
}

.quantityBar {
  box-sizing: border-box;
  /* padding: 3%; */
}

.root {
  flex-grow: 1;
}

@media screen and (max-width: 1300px) {
  .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 1050px) {
  .text {
    font-size: 12px;
  }
}
