.bottomArea {
  background: whitesmoke;
  width: 100%;
  left: 0px;
  /* padding: 20px 200px 20px 200px; */
}

.bottomModal {
  border-right: 1px solid rgb(173, 173, 173);
}

.bottomModalLast {
  /* border-right: none; */
}

.textPosition {
  text-align: center;
  -webkit-text-fill-color: rgb(26, 24, 24);
}

.image {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.features {
  width: 1200px;
  margin: 12px auto;
}

@media screen and (max-width: 1440px) {
  .features {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .features {
    width: 1000px;
  }
}

@media screen and (max-width: 1080px) {
  .features {
    width: 900px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 721px) {
  .features {
    width: 100%;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 720px) {
  .features {
    width: 100%;
    padding: 0px 10px;
  }

  .bottomModal {
    border-right: none;
    border-bottom: 1px solid rgb(173, 173, 173);
  }

  .bottomModal:last-child {
    border-right: none;
    border-bottom: none;
  }
}

.bottomModal a {
  text-decoration: none;
}
