ul,
li,
div,
p {
  margin: 0px;
  padding: 0px;
}

.topBar {
  /* background: rgb(48, 71, 99); */
  background: #193966;
  height: 40px;
  width: 100%;
  margin: -40px auto;
  left: 0px;
  position: absolute;
  line-height: 40px;
}

.topBarMenu {
  width: 70%;
  margin: auto;
}

.topBarMenu > ul {
  float: right;
  margin: 0px;
  padding: 0px;
}

.topBarMenu > ul > li {
  float: left;
  list-style-type: none;
}

.topBarMenu > ul > li > a {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: bold;
}

.topBarMenu > ul > li > a:hover {
  text-decoration: underline;
}

.phone {
  display: inline;
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  float: left;
}
