.product1 {
  height: 232px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://xtemos2.r.worldssl.net/basel/wp-content/uploads/2016/10/market-head5_1.jpg");
}

.product2 {
  height: 232px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://xtemos1.r.worldssl.net/basel/wp-content/uploads/2016/10/market-guitar1_2.jpg");
}
