h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

.root {
  width: "100%";
  max-width: "100%";
  background-image: -webkit-linear-gradient(right, #19395B, #142E55 81%);
  /* background-image: -webkit-linear-gradient(right, #193966, #142e53 81%); */
  /* background-image: -webkit-linear-gradient(
    right,
    rgb(50, 74, 102),
    rgb(30, 50, 68) 150%
  ); */
  /* background-image: -webkit-linear-gradient(right, #193966, #142e53 150%); */
  /* background-color: #193966; */
  opacity: 1;
  box-shadow: 0px 13px 41px -11px black;
  height: 490px;
}

.heading {
  color: black;
  background-color: #ecbf35;
  /* background-color: #193966; */
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.departmentItem {
  color: white;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  width: 90%;
}

.listItem:hover {
  background: #ffd55c !important;
}

.listItem:hover .departmentItem {
  color: black;
}
.listItem:hover .custom-icon {
  color: black;
}

.custom-icon {
  color: white;
}
