ul,
li,
div,
p {
  margin: 0px;
  padding: 0px;
}

.logo {
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}

.topMenu {
  width: 100%;
  margin: auto;
  transition: 0.5s;
  margin-top: 52px;
  margin-bottom: 25px;
}

.topMenuOnScroll {
  height: 100px;
  width: 100%;
  left: 0%;
  margin: 12px auto;
  position: fixed;
  z-index: 150;
  background: white;
  box-shadow: 0px 0px 2px 0px black;

  box-shadow: 0px 0px 15px -5px black;
}

@media screen and (max-width: 600px) {
  .search-box {
    /* margin-bottom: -20px; */
  }
}

.menuItems {
  width: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

.menuItems > li {
  float: left;
  list-style-type: none;
}

.menuItems > li > a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 12px;
  /* font-family: "Nunito", sans-serif; */
  font-weight: bold;
}

.menuItems > li:not(:first-child) > a {
  padding-left: 25px;
}

.menuItems > li > a:hover {
  text-decoration: underline;
}

.menuButton {
  background: white;
  border: none;
  border-radius: 0px !important;
  float: right;
  margin-top: -120px;
  cursor: hand;
}

.search-box {
  padding: 10px;
}
@media screen and (max-width: 959px) {
  .topMenu {
    margin-bottom: 50px;
  }
  .menuButton {
    margin: -130px 40px;
  }
}

.search {
  width: 100%;
  padding-left: 5px;
  height: 30px;
  border-radius: 7px 0px 0px 7px;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  font-size: 16px;
}

.search-button {
  border-width: 0px;
  color: white;
  border-radius: 0px !important;
  width: 100%;
  background-color: #e94f34;
  height: 34px;
}
